.demo {
    position: relative;
    left: 50%;
    margin-left: -35rem;
    width: 70rem;
    height: 50rem;

    background: #FFFFFF;
    box-shadow: 0 0.5rem 5rem rgba(0, 0, 0, 0.4);
}

.demo__content {
    position: relative;
    height: 100%;
}

.demo__heading {
    font-size: 2.2rem;
    line-height: 7rem;
    padding-left: 3rem;
    color: #313131;
}

.demo__elems {
    position: relative;
    height: 21rem;
}

.demo__elem {
    position: relative;
    height: 7rem;
    font-size: 1.8rem;
    line-height: 7rem;
    padding-left: 3rem;
    border-top: 1px solid #e7e7e7;
}

.demo__hover {
    z-index: 2;
    position: absolute;
    left: 0;
    width: 100%;
    height: 7rem;
    cursor: pointer;
}

.demo__hover-1 {
    top: 0;
}

.demo__hover-1:hover ~ .demo__highlighter {
    transform: translateY(0);
}

.demo__hover-1:hover ~ .demo__highlighter .demo__elems {
    transform: translateY(0);
}

.demo__hover-2 {
    top: 7rem;
}

.demo__hover-2:hover ~ .demo__highlighter {
    transform: translateY(7rem);
}

.demo__hover-2:hover ~ .demo__highlighter .demo__elems {
    transform: translateY(-7rem);
}


.demo__hover-3 {
    top: 14rem;
}

.demo__hover-3:hover ~ .demo__highlighter {
    transform: translateY(14rem);
}

.demo__hover-3:hover ~ .demo__highlighter .demo__elems {
    transform: translateY(-14rem);
}

.demo__hover-4 {
    top: 21rem;
}

.demo__hover-4:hover ~ .demo__highlighter {
    transform: translateY(21rem);
}

.demo__hover-4:hover ~ .demo__highlighter .demo__elems {
    transform: translateY(-21rem);
}

.demo__hover-5 {
    top: 28rem;
}

.demo__hover-5:hover ~ .demo__highlighter {
    transform: translateY(28rem);
}

.demo__hover-5:hover ~ .demo__highlighter .demo__elems {
    transform: translateY(-28rem);
}

.demo__highlighter {
    z-index: 1;
    position: absolute;
    top: 0;
    left: -1rem;
    width: 72rem;
    height: 7rem;
    background: #39A5F7;
    overflow: hidden;
    box-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.3);
    transition: transform 0.5s cubic-bezier(0.59, 0.04, 0.3, 1.43);
}

.demo__highlighter .demo__elems {
    position: relative;
    top: 0;
    left: 1rem;
    transition: transform 0.5s cubic-bezier(0.59, 0.04, 0.3, 1.43);
}

.demo__highlighter .demo__elem {
    color: #fff;
    border: none;
}
